@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800;900&display=swap');

:root {
  --background: #f6f7f8;
  --foreground: #0a192f;
  --primary: #137fec;
  --navy: #0a192f;
  --gold: #d4af37;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Manrope', sans-serif;
}